// src/styles/abstracts/_variables.scss

// 品牌色
$GLColor: #0155b2;

// 功能色
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444; // 也用于危险/错误状态
$helpColor: #e26237;

// 中性色
$textColor: #333;
$textColor-secondary: #666;
$borderColor: #e4e4e4;
$bgColor: #f5f5f5;

// 其他
$borderRadius: 4px;
$transition-duration: 0.2s;
