// src/styles/base/_index.scss

// 导入变量
@use "../abstracts/variables" as *;

// 1. 根设置: 设定 rem 计算基准和全局盒模型
html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// 2. Body 基础排版
body {
  font-size: 1.6rem; // 默认 16px
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  color: $textColor;
  background-color: $bgColor;
  -webkit-font-smoothing: antialiased;
}

// 3. 基础链接规范
a {
  color: $GLColor;
  text-decoration: none;
  transition: color $transition-duration;
  &:hover {
    color: adjust-lightness($GLColor, 10%);
  }
}
